asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.2
dataclasses-serialization==1.3.4
Django==5.2.4
django-browser-reload==1.18.0
django-cors-headers==4.7.0
django-tailwind==4.2.0
djangorestframework==3.16.0
idna==3.10
Markdown==3.8.2
python-dotenv==1.1.1
requests==2.32.4
sqlparse==0.5.3
urllib3==2.5.0
